<div class="flex-center position-ref full-height">
  <div class="top-right links">
    <a routerLink="/home" *ngIf="auth.isAuthenticated">Hey {{ auth.authUser.user.name }}</a>
    <a routerLink="login" *ngIf="!auth.isAuthenticated">Login</a>
  </div>

  <div class="content">
      <div class="title m-b-md">
          Angular 6 Auth
      </div>

      <div class="links">
          <a href="">Source Code</a>
          <a href="">Screencasts</a>
          <a href="">About Me</a>
      </div>
  </div>
</div>