<div class="flex-center position-ref full-height">
  <div class="top-right links">
    <a *ngIf="authService.isAuthenticated" routerLink="/home">Hey {{ authService.authUser.user.name }}</a>
    <a *ngIf="!authService.isAuthenticated" routerLink="login">Login</a>
    <a *ngIf="!authService.isAuthenticated" routerLink="register">Register</a>
  </div>

  <div class="content">
      <div class="title m-b-md">
          Angular 6 Auth
      </div>

      <div class="links">
          <a href="">Source Code</a>
          <a href="">Screencasts</a>
          <a href="">About Me</a>
      </div>
  </div>
</div>