<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                  <label for="username" class="col-sm-4 col-form-label text-md-right">Name</label>

                  <div class="col-md-6">
                      <input id="name" formControlName="name" type="text" class="form-control" name="name" required autofocus>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                  <div class="col-md-6">
                      <input id="email" formControlName="email" type="email" class="form-control" name="email" value="" required autofocus>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="password" class="col-sm-4 col-form-label text-md-right">Password</label>

                  <div class="col-md-6">
                      <input id="password" formControlName="password" type="password" class="form-control" name="password" required autofocus>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="password_confirmation" class="col-sm-4 col-form-label text-md-right">Confirm password</label>

                  <div class="col-md-6">
                      <input id="password_confirmation" formControlName="password_confirmation" type="password" class="form-control" name="password_confirmation" required autofocus>
                  </div>
              </div>

              <div class="form-group row mb-0">
                  <div class="col-md-8 offset-md-4">
                      <button type="submit" class="btn btn-primary">
                          Register
                      </button>
                  </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>